<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"

   xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.1.xsd
  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
 
 <context:component-scan base-package="com.biz.impl" />
    <context:component-scan base-package="com.data.impl" />
    <context:component-scan base-package="com.data.access" />
  <context:component-scan base-package="com.data.exception" />
  <context:component-scan base-package="com.restservices.restcontroller" />
  <context:component-scan base-package="com.shared.util" />
  <context:component-scan base-package="com.mbeans.utils" />
  <context:component-scan base-package="com.data.util" />
  <context:component-scan base-package="com.models" />
  
   <bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource">
       <property name="driverClassName" value="com.mysql.jdbc.Driver" />
       <property name="url" value="jdbc:mysql://localhost:3306/students" />
       <property name="username" value="root" />
       <property name="password" value="root" />
   </bean>
   
   <bean id="sessionFactory"
       class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
       <property name="dataSource" ref="datasource" />
       <property name="packagesToScan" value="com.models" />
       <property name="hibernateProperties">
           <props>
               <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
               </prop>
               <prop key="hibernate.show_sql">true</prop>
           </props>
       </property>
   </bean>
   <bean
        class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="atom" value="application/atom+xml" />
                <entry key="html" value="text/html" />
                <entry key="xml" value="application/xml" />
            </map>
        </property>

    </bean>
 	<!-- TransactionManager configured into the application server -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Transaction annotated class scanned -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>